$background: rgba(3, 4, 5, 0.85);
$hover: rgba(87, 87, 86, 0.70);
$gray: #7C7B79;
$border-color: rgb(153, 153, 153);
$blue-theme: #4DACCF;
$footer-height: 30px;
$start-menu-button-width-height: 48px;
$tiles-container-height: 128px;

body {
  background: url("images/background.jpg") no-repeat fixed center;
  color: #fff;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  user-select: none;
}

.gradient-button {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 300px;
  height: 80px;
  border-radius: 100px;
  background: #4b5a33;
  overflow: hidden;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);

  div {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: radial-gradient(circle closest-side, #43305a, #4b5a33);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
  }

  &:hover div {
    width: 400px;
    height: 400px;
  }
}

ul {
  padding: 0;
}

.hover {
  &:hover {
    background-color: $hover !important;
    transition: background-color 0.2s !important;
  }
}

.hover-colored {
  &:hover {
    background-color: lighten($blue-theme, 8%) !important;
    transition: background-color 0.2s !important;
  }
}

.start-menu-button {
  width: $start-menu-button-width-height;
  height: $start-menu-button-width-height;
  overflow: hidden;

  p {
    margin-left: $start-menu-button-width-height;
    font-weight: 100;
  }
}

.desktop {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 34px 1px;
  justify-items: center;
  align-items: center;
  justify-content: stretch;
  align-content: stretch;

  .desktop-icon {
    width: 75px;
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin-top: 5px;

    img {
      width: 48px;
      height: 48px;
    }

    p {
      font-size: 12px;
      text-shadow: 2px 2px 4px #000;
      margin: 0;
      text-align: center;
      font-weight: 100;
    }
  }
}

.window {
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 10;
  width: 1000px;
  height: 600px;
  border: 1px solid lighten($blue-theme, 5%);
  background: #fff;

  .window-header {
    height: 30px;
    width: 100%;
    background: $blue-theme;
    display: flex;
    justify-content: space-between;

    &-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .window-header-logo {
        width: 29px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 16px;
          height: 16px;
        }
      }

      p {
        color: #fff;
        font-size: 13px;
        font-weight: 300;
      }
    }

    .window-control-buttons {
      display: flex;

      .window-roll-button {
        width: 45px;
        height: 100%;
        background: url("images/window-roll-button.png") no-repeat center;
      }

      .window-expand-button {
        width: 45px;
        height: 100%;
        background: url("images/window-expand-button.png") no-repeat center;
      }

      .window-close-button {
        width: 45px;
        height: 100%;
        background: url("images/window-close-button.png") no-repeat center;
        transition: background-color 0.2s;

        &:hover {
          background-color: #e81123;
        }
      }
    }
  }
}

.window-opened {
  width: 100%;
  height: 100%;

  .window-expand-button {
    background: url("images/window-turn-button.png") no-repeat center !important;

    &:hover {
      background-color: lighten($blue-theme, 8%) !important;
      transition: background-color 0.2s !important;
    }
  }
}

.minesweeper {
  width: auto;
  height: auto;

  .window-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .control {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 35px;
      box-shadow: 2px 0 8px rgba(0, 0, 0, 0.25);

      .container {
        font-weight: 700;

        .current-difficulty:hover ~ .choose-minesweeper-size, .choose-minesweeper-size:hover {
          display: block;
        }

        .choose-minesweeper-size {
          display: none;
          list-style: none;
          color: #000;
          position: absolute;
          top: 43px;
          background: rgba(108, 108, 108, 0.95);
          box-shadow: 0 0 8px 2px rgba(108, 108, 108, 0.71);
          padding: 5px;
          border-radius: 3px;

          li {
            text-align: center;

            &:hover {

            }
          }
        }
      }

      .new-game, .current-difficulty {
        border-radius: 3px;
        box-shadow: 0 0 8px 2px rgba(108, 108, 108, 0.71);
        color: #000;
        padding: 2px 5px;
        background: rgba(108, 108, 108, 0.71);
        font-weight: 700;

        &:hover {
          box-shadow: 0 0 8px 2px rgba(108, 108, 108, 0.71), 0 0 8px 2px rgba(108, 108, 108, 0.71) inset;
        }
      }
    }

    .field {
      display: grid;
      grid-gap: 1px;
      place-items: center;
      place-content: space-evenly;
      margin: 10px;

      .field-dot {
        width: 25px;
        height: 25px;
        background-image: linear-gradient(to bottom right, #4983aa, #005e93);
        border-radius: 3px;
        justify-self: center;
        place-self: center;
        text-align: center;
        line-height: 25px;
        color: #02026f;
        font-size: 0;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .flag {
        background-image: url("images/minesweeper-flag.png"), linear-gradient(to bottom right, #4983aa, #005e93);
      }

      .mine-blown {
        background-image: url("images/minesweeper.png") !important;
        background-color: rgba(191, 63, 74, 0.69);
      }

      .exposed-dot {
        background: lightblue !important;
        background: none;
        font-size: 20px;
      }
    }
  }
}

footer {
  width: 100%;
  height: $footer-height;
  background-color: $background;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  z-index: 50;
  cursor: default;

  * {
    height: 100%;
  }

  .start-button {
    width: 36px;
    background: url("images/start-button.png") no-repeat center;
    margin-right: 3px;

    &:hover {
      background: url("images/start-button-hover.png") no-repeat center;
    }
  }

  .taskbar-apps {
    flex: auto;
    display: flex;

    .taskbar-app {
      width: 36px;
      height: 100%;
      margin-right: 1px;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      overflow: hidden;
      transition: width 0.3s;

      img {
        max-width: 16px;
        max-height: 15px;
        margin: 0 10px;
      }

      p {
        line-height: $footer-height;
        font-size: 13px;
        margin: 0;
      }
    }

    .taskbar-app-open {
      width: 160px !important;
      border-bottom: 2px solid $blue-theme;

      img {
        margin: 0 4px 0 8px !important;
      }
    }
  }

  .taskbar-buttons {
    width: 163px;
    display: flex;
    justify-content: space-between;

    .internet {
      background: url("images/internet.png") no-repeat center;
      width: 24px;
    }

    .volume {
      background: url("images/volume.png") no-repeat center;
      width: 24px;
    }

    .lang {
      width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        height: 70%;
        font-size: 13px;
        font-weight: 100;
        position: relative;
        top: 1px;
      }
    }

    .time {
      width: 39px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        height: 70%;
        font-size: 13px;
        font-weight: 100;
        position: relative;
        top: 1px;
      }
    }

    .notification-bar-open-button {
      width: 40px;
      background: url("images/notification.png") no-repeat center;
    }
  }

  .roll-all-windows {
    width: 4px;
    border-left: 1px solid $gray;
  }
}

#start-menu {
  position: absolute;
  width: 637px;
  background-color: fade_out($background, 0.1);
  border-top: 1px solid fade_out($gray, 0.5);
  border-right: 1px solid fade_out($gray, 0.5);
  left: 0;
  bottom: $footer-height;
  opacity: 0;
  height: 0;
  overflow: hidden;
  z-index: 8;
  display: flex;
  flex-direction: row;
  transition: 0.2s;

  .changeable-width {
    transition: width 0.2s, background-color 0.2s !important;
  }

  .popup-menu {
    box-sizing: border-box !important;
    width: 256px;
    background-color: rgb(43, 43, 43);
    position: absolute;
    font-size: 12px;
    z-index: 20;
    padding: 0;
    border: none;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      box-sizing: border-box;
      margin: 0;
      padding: 12px;
      height: 32px;
      display: flex;
      justify-content: left;
      align-items: center;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .popup-menu-open {
    height: 114px !important;
    opacity: 1 !important;
    border: 1px solid fade_out($gray, 0.2) !important;
    padding: 8px 0 !important;
  }

  .user-popup {
    bottom: $start-menu-button-width-height * 3 + 4px;
  }

  .power-popup {
    bottom: $start-menu-button-width-height + 4px;
  }

  #side-buttons-container {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    z-index: 9;
    width: $start-menu-button-width-height;


    & > div:first-child {
      background: url("images/open-desc.png") no-repeat 16px;
      font-weight: 900 !important;
      margin-top: 4px;
    }

    #start-menu-buttons-container div:first-child {
      background: url("images/user-icon.png") no-repeat 14px;
    }

    #start-menu-buttons-container div:nth-child(2) {
      background: url("images/settings-icon.png") no-repeat 16px;
    }

    #start-menu-buttons-container div:last-child {
      background: url("images/power-icon.png") no-repeat 17px;
    }
  }

  .side-buttons-container-open {
    width: 256px !important;
    background-color: #1F1F1F;
  }

  .app-list {
    display: flex;
    flex-direction: column;
    width: 259px;
    height: 100%;
    margin-left: $start-menu-button-width-height;

    h4:first-of-type {
      margin-top: 7px !important;
    }

    h4, li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      font-weight: 100;
      font-size: 12px;
      text-align: left;
      margin: 0;
      padding-left: 16px;

      div {
        display: flex;
        align-items: center;
      }

      .ico {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        background-color: $blue-theme;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      width: 100%;
      margin: 0;
    }

    .roll-down-arrow {
        width: 8px;
        height: 4px;
        margin-right: 20px;
    }

    .hidden-dir {
      overflow: hidden;
      transition: height 0.2s;

      li {
        padding-left: 24px;
      }
    }
  }

  #start-menu-tiles {
    display: flex;
    flex-direction: column;
    margin: 13px 16px 0 5px;
    flex-grow: 5;

    p {
      font-size: 12px;
      margin: 2px 0;
      height: 32px;
      display: flex;
      align-items: center;

      &:hover {
        background: url("images/tiles-title-move.png") no-repeat right;
      }
    }

    p:first-child {
      margin-top: 0;
    }

    div {
      display: flex;
      margin: 2px 0;
    }

    img {
      margin: 0 2px;
      box-sizing: border-box !important;

      &:hover {
        box-shadow: 0 0 0 2px $border-color;
      }
    }

    img:first-child {
      margin-left: 0;
    }
  }
}

#notification-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 30px);
  width: 360px;
  background-color: fade_out($background, 0.1);
  position: absolute;
  top: 0;
  z-index: 8;
  border-left: 1px solid fade_out($gray, 0.4);
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  right: -361px;
  transition: right 0.3s;

  #notification-center {
    margin: 20px 12px;

    h2 {
      font-size: 15px;
      margin: 0 0 42px 0;
    }

    p {
      font-size: 15px;
      color: rgb(177, 177, 177);
      font-weight: 500;
      margin: 0;
    }
  }

  #notification-tiles {
    width: 100%;

    #toggle-tiles {
      color: rgb(161, 161, 161);
      font-size: 12px;
      text-align: right;
      height: 50px;
      display: flex;
      justify-content: flex-end;

      p {
        margin: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;

        &:hover {
          color: white;
        }
      }
    }

    .container {
      display: flex;
      flex-flow: row wrap;
      margin: 2px;
      overflow: hidden;
      height: $tiles-container-height;
      transition: height 0.2s;
      white-space: normal;

      div {
        width: 85px;
        height: 60px;
        background-color: rgba(88, 88, 88, 0.9) !important;
        background-position: 4px 5px !important;
        margin: 2px;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box !important;

        &:hover {
          box-shadow: 0 0 0 2px inset $border-color;
        }

        p {
          color: white;
          text-align: left;
          font-size: 11px;
          margin: 0 0 5px 4px;
          width: 80%;
          word-wrap: break-word;
        }
      }

      #tablet-mode {
        background: url("images/tablet-mode.png") no-repeat;
      }

      #network {
        background: url("images/network.png") no-repeat;
      }

      #all-settings {
        background: url("images/settings-icon.png") no-repeat;
      }

      #do-not-disturb {
        background: url("images/do-not-disturb.png") no-repeat;
      }

      #vpn {
        background: url("images/vpn.png") no-repeat;
      }

      #project-screen {
        background: url("images/project.png") no-repeat;
      }

      #connect {
        background: url("images/connect.png") no-repeat;
      }
    }

    .container-small {
      height: $tiles-container-height / 2 !important;
    }
  }
}

#calendar {
  position: absolute;
  bottom: $footer-height;
  right: 0;
  width: 361px;
  height: 0;
  background-color: rgba(40, 40, 40, 0.8);
  border-left: 1px solid fade_out($gray, 0.4);
  border-top: 1px solid fade_out($gray, 0.4);
  cursor: default;
  box-sizing: border-box;
  transition: 0.2s;
  opacity: 0;

  h1 {
    margin: 15px 0 0 15px;
    font-size: 45px;
    font-weight: 100;
  }

  p {
    margin: 0 0 15px 15px;
    font-weight: 100;
    color: $blue-theme;
    font-size: 15px;

    &:hover {
      color: #a3a2a0;
    }
  }
}

#lang-selector {
  position: absolute;
  right: 0;
  bottom: $footer-height;
  width: 301px;
  height: 0;
  opacity: 0;
  border-top: 1px solid fade_out($gray, 0.4);
  border-left: 1px solid fade_out($gray, 0.4);
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  box-sizing: border-box;
  background-color: rgba(40, 40, 40, 0.87);
  transition: 0.2s;

  & > div {
    width: 100%;
    height: 60px;
    display: flex;

    div {
      margin: auto 0;
    }

    .lang-label {
      flex-basis: 25%;
      text-align: center;
    }
  }
}

#volume-menu {
  box-sizing: border-box;
  position: absolute;
  bottom: $footer-height;
  right: 0;
  width: 361px;
  height: 0;
  opacity: 0;
  background-color: rgba(40, 40, 40, 0.87);
  border-top: 1px solid fade_out($gray, 0.4);
  border-left: 1px solid fade_out($gray, 0.4);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.2s;

  & > p {
    flex-basis: 50%;
    margin: 0;
  }

  & > div {
    display: flex;
    align-items: center;

    img {
      #width: 24px;
      #height: 22px;
      margin: 0 18px;
    }

    input {
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 2px;
      background-color: $blue-theme;
      outline: none;
      width: 60%;

      &:hover::-webkit-slider-thumb {
        background-color: #fff;
      }
    }

    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 8px;
      height: 24px;
      border-radius: 10px;
      background-color: darken($blue-theme, 15%);
    }

    p {
      font-size: 25px;
      margin: 0 auto;
    }
  }
}

#network-menu {
  position: absolute;
  bottom: $footer-height;
  right: 0;
  width: 360px;
  height: 0;
  opacity: 0;
  padding: 12px 0;
  border-top: 1px solid fade_out($gray, 0.4);
  border-left: 1px solid fade_out($gray, 0.4);
  background: rgba(40, 40, 40, 0.87);
  transition: 0.2s;
  box-sizing: border-box;

  #current-network {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      margin: 0 12px;
    }

    div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      font-weight: 100;

      p {
        margin: 0;
      }

      p:last-child {
        color: rgb(161, 161, 161);
      }
    }
  }
}

.start-menu-open {
  height: 589px !important;
  opacity: 1 !important;
}

.notification-bar-open {
  right: 0 !important;
}

.calendar-open {
  height: 113px !important;
  opacity: 1 !important;
}

.volume-menu-open {
  height: 101px !important;
  opacity: 1 !important;
}

.lang-selector-open {
  height: 131px !important;
  opacity: 1 !important;
}

.network-menu-open {
  height: 80px !important;
  opacity: 1 !important;
}

@media all and (max-width: 800px) {
  #start-menu {width: 100%;}
}